<div class="modal-container flex">
  <h2 class="modal-title" mat-dialog-title>{{ data?.userId ? 'Edit User' : 'Create New User' }}</h2>
  <form [formGroup]="userForm" (ngSubmit)="save()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="userForm.controls.name.hasError('required')">Name is required.</mat-error>
      <mat-error *ngIf="userForm.controls.name.hasError('maxlength')">Name must be at most 70 characters.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="userForm.controls.email.hasError('required')">Email is required.</mat-error>
      <mat-error *ngIf="userForm.controls.email.hasError('email')">Invalid email address.</mat-error>
      <mat-error *ngIf="userForm.controls.email.hasError('maxlength')">Email must be at most 50 characters.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone" />
      <mat-error *ngIf="userForm.controls.phone.hasError('required')">Phone is required.</mat-error>
      <mat-error *ngIf="userForm.controls.phone.hasError('minlength')">Phone number should be between 10 and 15
        characters.</mat-error>
      <mat-error *ngIf="userForm.controls.phone.hasError('maxlength')">Phone number should be between 10 and 15
        characters.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" />
      <mat-error *ngIf="userForm.controls.address.hasError('required')">Address is required.</mat-error>
      <mat-error *ngIf="userForm.controls.address.hasError('maxlength')">Address must be at most 100
        characters.</mat-error>
    </mat-form-field>

    <div class="department-container flex">
      <mat-form-field class="department-input-container">
        <mat-label>Department ID</mat-label>
        <input type="number" matInput formControlName="departmentId" (ngModelChange)="onDepartmentIdChange($event)" />
        <mat-error *ngIf="userForm.controls.departmentId.hasError('required')">Department ID is required.</mat-error>
      </mat-form-field>
      <div class="department-name-container">
        <p class="department-name-title">Department Name:</p>
        <p class="department-name" [ngClass]="{'department-not-found': departmentNotFound}">
          <ng-container *ngIf="departmentNotFound; else departmentName">
            Department Not Found
          </ng-container>
          <ng-template #departmentName>
            {{ departmentName$ | async }}
          </ng-template>
        </p>
      </div>
    </div>

    <div mat-dialog-actions class="button-container flex flex-center">
      <button mat-raised-button type="submit" color="primary"
        [disabled]="userForm.invalid || departmentNotFound">Save</button>
      <button mat-raised-button type="button" color="warn" (click)="close()">Cancel</button>
    </div>
  </form>
</div>