html,
body {
    height: 100%;
}

body {
    background-color: #191c1c;
    color: #ffffff;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Global Flexbox classes

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

/* Remove arrows from input type="number" */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    /* Firefox */
    -moz-appearance: textfield;
}